@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Bold.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Italic.ttf");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "Rye";
    src: url("/fonts/Rye/Rye-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  
html {
    color: white;

    font-family: "Roboto";
    font-weight: 200;
    font-size: 18px;
}
header {
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    line-height: .2;
    font-family: "Rye";
    font-weight: 200;
}

h1 { 
    font-size: 1.33em;
    font-weight: 200;
}

h2 {
    font-size: 1em;
    font-weight: 200;
}

body {
    background: #000230 url(/images/key-fob.jpg) no-repeat center bottom fixed;
    background-size: auto 90vh;

    margin: 0;
}

body::after {
    content: "";
    background: #000230;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

#page-home {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-content::after {
    content: "";
    background: #000230;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.view {
    display: flex;
}
.content {
	padding: 20px;

    background: #00022E;
    border-radius: 12px;
    width: 70vw;
}
.content-home {
    height: 70vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: none;
    border-radius: 12px;
    width: 280px;
}
.banner {
    background: url(/images/shapes/parchment.svg) no-repeat center;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 16px;
    width: 100vw;
    height: 10rem;
}

aside {
    position: fixed;
    left: 0;
    top: 0;

    height: 100vh;
}

aside::after {
    content: "";

    background: #000230;
    opacity: 0.6;

    height: 100vh;
    
    display: flex;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

}
.icons-group {
    width: inherit;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    font-family: Rye;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.large-button {
    height: 70px;
    width: 270px;
    padding: 0;
    margin: 0 1rem 1rem;


    background: #00022E;
    border-radius: 12px;


    color: white;
}
.small-button {
    background: #000230;
    border-radius: 12px;
    padding: 0;
    margin: 0 clamp(.5vw, 1vw, 2vw);

    height: 60px;
    width: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

}
.logo {
    height:100px;
    width:220px
}

p {
    font-weight: bold;
    
	height: 100%;
}
.services-grid {
    display: grid;
}
.service-tile {
    background: #E2D55E;
    border-radius: 12px;

    display: flex;
    flex-direction: column;

    font-family: "Rye";
    color: black;

    width: 30vw;
}
.service-tile img {
    width: 100%;
}
.service-tile p {
    margin: 2px 5px;
    font-size: 2vw;
    min-height: 25px;
}